* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* ????? */
}
body {
    height: 100vh;
    background-color: #66bd4a;
    display: flex; /* ????? */
}
.container {
    width: 500px;
    min-width: 300px;
    max-width: 90%;
    margin: auto;
}
/* Add and Edit Users Pages */
.container form {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    padding: 20px
}
.container form h1 {
    color: #00b241;
    text-align: center;
    margin-bottom: 15px;
}
.container form hr {
    border-width: 1px;
    border-style: solid;
    border-color: #00b241;
    margin-bottom: 15px;
    opacity: 0.7;
}
.form-control {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(176, 176, 176);
    border-radius: 5px;
    padding: 10px 7.5px;
}
.btn {
    padding: 8px 15px;
    border-radius: 7.5px;
    border: none;
    background-color: #00b241;
    color: white;
    font-weight: bold;
    transition: opacity 0.15s;
}
.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}
.btn:active {
    opacity: 0.6;
}
/* Main Page */
.home-title {
    text-align: center;
    font-style: italic;
    color: white;
}
.users-table {
    border-collapse: collapse;
    margin: 17.5px 0 10px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.users-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.users-table th,
.users-table td {
    padding: 12px 15px;
}
.users-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.users-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.users-table tbody tr:nth-of-type(odd) {
    background-color: white;
}
.users-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.users-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.home-btn {
    padding: 8px 15px;
    border-radius: 7.5px;
    border: none;
    background-color: #009879;
    color: white;
    font-weight: bold;
    transition: opacity 0.15s;
}
.home-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}
.home-btn:active {
    opacity: 0.6;
}
/* Link */
a {
    text-decoration: none;
    color: #009879;
    font-weight: bold;
}