{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form action="" method="post">
        <h1>Add User</h1>
        <hr>
            <input type="text" name="first_name" placeholder="First Name..." class="form-control">
            <input type="text" name="last_name" placeholder="Last Name..." class="form-control">
            <input type="number" name="age" placeholder="Age..." class="form-control">
        <button class="btn" type="submit">Submit</button>
    </form>
</div>
{% endblock content %}