{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form action="/edit/{{person.id}}" method="post">
        <h1>Edit User: {{person.first_name}}</h1>
        <hr>
            <input type="text" name="first_name" placeholder="First Name..." class="form-control" value="{{person.first_name}}">
            <input type="text" name="last_name" placeholder="Last Name..." class="form-control" value="{{person.last_name}}">
            <input type="number" name="age" placeholder="Age..." class="form-control" value="{{person.age}}">
        <button class="btn" type="submit">Submit</button>
    </form>
</div>
{% endblock content %}