{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="home-title">CRUD Application</h1>
    <table class="users-table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for person in people %}
            <tr>
                <td>{{person.first_name}}</td>
                <td>{{person.last_name}}</td>
                <td>{{person.age}}</td>
                <td><a href="/edit/{{person.id}}">✏️</a> | <a href="/delete/{{person.id}}">❌</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" class="home-btn" onclick="window.location.href='/add'">Add User</button>
</div>
{% endblock content %}