<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Calling our Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <h1 style="text-align: center;">CRUD Application</h1>
    <br/>
    <!--  Creating our table that will contain the data of the people -->
    <!-- That class 'table' will give style to our table -->
    <table class="table">
        <!-- Defining the head of the table -->
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
        </thead>
        <!-- Defining the body of the table -->
        <tbody>
            <!-- Using loop to get every person from people -->
            {% for person in people %}
            <tr>
                <!-- Showing their info -->
                <td>{{person.first_name}}</td>
                <td>{{person.last_name}}</td>
                <td>{{person.age}}</td>
                <!-- Link's to the edit and delete routes -->
                <td><a href="/edit/{{person.id}}">Edit</a> | <a href="/delete/{{person.id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Adding link that will send the user to the route '/add' that it's in our app.py -->
    <a href="/add"><button type="button" class="btn btn-secondary">Add User</button></a>
</body>
</html>